:root {
    --swiper-theme-color: black;
    --swiper-pagination-bullet-inactive-color: #555; // avant #963B1E
    --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper {
    // background-color: $orangeLight; // ! change
    height: 100vh;
}