#mainIndex {
    max-width: 500px;
    padding: 10px;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    h1 {
        @include PPMori-SemiBold(40px);
        @extend %text-shadow;
        margin-bottom: 20px;
    }
    input {
        width: calc(100% - 10px);
        height: 38px;
        appearance: none;
        border: none;
        outline: none;
        background: transparent;
        border: solid 1px $black;
        @include PPMori-Regular(16px)
    }
}